@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  html {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .notification {
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateY(100%);
  }
  
  .notification-open {
    transform: translateY(0%);
  }
}