@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-tap-highlight-color: transparent;
}

*:focus-visible {
  outline: 2px solid black;
  outline-offset: 2px;
}

input:focus-visible {
  outline: none;
}

.notification {
  transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateY(100%);
}

.notification-open {
  transform: translateY(0%);
}

.modal {
  transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transform: translateY(100%);
}

.modal-open {
  transform: translateY(0%);
}

.product-img {
  aspect-ratio: 640 / 425;
  width: 100%;
}

@media (min-width: 640px) {
  .featured-product-img {
    width: 24rem;
  }
}

@media (min-width: 1000px) {
  .featured-product-img {
    width: 32rem;
  }
}

@media (min-width: 1200px) {
  .featured-product-img {
    width: 40rem;
  }
}
